*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#cont{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(236, 240, 240);
    padding: 20px;
}

#form{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.label{
    display: flex;
    flex-direction: column;
    gap:2px;
}

#form-cont{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: none;
    width: 100%;
    max-width: 400px; 
    padding: 40px 25px; 
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1); 
}

h2{
    text-align: center;
    color: #10B76F;
}

#keepme{
    accent-color: #10B76F;
}

#submit{
    padding:10px 7px;
    border-radius: 8px;
    border: none;
    background-color: #10B76F;
    color: white;
    cursor: pointer;
}

.password,.email{
    border: none;
    background-color: rgb(243, 246, 246);
    padding:10px 7px;
    border-radius: 8px;
    width: 100%; 
}

#donthave a{
    text-decoration: none;
    color: #10B76F;
}

#submit:hover{
    background-color:#41cd90;
}

@media (max-width: 480px){
    #form-cont{
        padding: 30px 20px;
        border-radius: 10px;
    }
}

@media (max-width: 768px){
    #form-cont{
        max-width: 90%;
    }
}